.menu-section {
    position: absolute;
    right: 0;

    background-color: var(--color-tertiary);

    width: 30%;
    height: 100vh;

    padding: var(--padding-md);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    transition: transform 1s ease;
}

@media (max-width: 768px) {
  .menu-section {
    display: none;
  }
}

button.game-start {
    width: 50%;

    align-self: center;
}

.sliding-div {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.slide-right {
    transform: translateX(100%);
}

.verse-selector {
    display: flex;
    gap: 10px; /* Adjust gap as needed */
    flex-wrap: wrap;
}

select {
    padding: 5px;
    font-size: 16px;
}
