.game-section {
    position: absolute;

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

.spaceship {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 5rem;

    animation: move ease-in-out 2s infinite;
    animation-delay: 0s;
}

/* animate spaceship to move up and down */
@keyframes move {
    0% {
        transform: translate(-50%, -40%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -40%);
    }
}

.spaceship img {
    width: 100%;
    height: 100%;
}

.user-input {
    position: absolute;

    display: flex;
    gap: var(--margin-xxs);

    height: 3rem;

    margin-top: var(--margin-lg);
}

.cursor {
    width: 1.5rem;
    border-bottom: solid 5px white;

    animation: blink 1s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

.asteroid {
    transform: translate(-50%, -50%);
    width: fit-content;
}

.asteroid img {
    position: absolute;

    min-width: 100px;
    width: 150%;

    transform: translate(-50%, -50%);
}

.asteroid .asteroid-word {
    transform: translate(-50%, -50%);

    font-size: 1.375rem;
}
